header{
    z-index:10;
    position: absolute;
    width: 100%;
}

.navbar{
    padding: 20px 0;
}

.navbar-brand
{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
}

.nav-item
{
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link
{
    background: #262626;
    color: #fff;
}
.navbar-light .navbar-nav .nav-item .nav-link
{
    color: #262626;
    padding: 5px 15px;
}


.banner{
    position: relative;
    background: url(https://images.pexels.com/photos/9044/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}

.banner h2{
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 1000;
    text-transform: uppercase;
}

.banner p{
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    text-transform: uppercase;
    margin: 1em 0 0;
    padding: 0;
}

.btn-default{
    background-color: #f5f6fa;
    color: #000;
    width: 200px;
    margin-top: 20px;
    border-radius: 50px;
}

.btn-default:hover{
    color: red;
    background-color: #000;
}

p.lead{
    text-align: justify;
    
}

.btn-color{
    font-weight: 800;
    background-color: crimson;
    color: #fff;
    border-radius: 50px;
    width: 200px;
}

@media (max-width: 575.98px) { 
    .banner h2{
        color: #fff;
        margin: 0;
        padding: 0;
        font-size: 1.4em !important;
        font-weight: 1000;
        text-transform: uppercase;
    }
    
    .banner p{
        color: #fff;
        font-size: 0.9em;
        font-weight: 200;
        text-transform: uppercase;
        margin: 1.1em 0 0;
        padding: 0;
    }
 }